DB_CONTAINER_NAME=creditos-db-container
DB_NAME=creditos_db_teste
DB_USER=db_credito-user
DB_PASSWORD=dbsenhacredito
DB_PORT=3306
DB_VOLUME_NAME=vol_creditos_data
DB_HOST=localhost
DB_JDBC=mariadb
ADMINER_PORT=8081
