DB_CONTAINER_NAME=creditos-mariadb
DB_NAME=creditos_db_teste
DB_USER=db_credito-user
DB_PASSWORD=dbsenhacredito
DB_ROOT_PASSWORD=rootpassword123 
DB_PORT=3306
DB_VOLUME_NAME=vol_creditos_data
DB_JDBC=mariadb
DB_URL=jdbc:mariadb://mariadb:3306/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_SERVICE_NAME=mariadb

ADMINER_PORT=8081
ADMINER_CONTAINER_NAME=creditos_adminer_web


BACKEND_PORT=8080
BACKEND_CONTAINER_PORT=8080
BACKEND_CONTAINER_NAME=creditos-backend
BACKEND_HOST=backend
ENVIRONMENT=development

KAFKA_SERVICE_NAME=kafka
KAFKA_ENABLED=true
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=${KAFKA_SERVICE_NAME}:9092
KAFKA_TOPIC_CONSULTA=consulta-realizada

KAFKA_PRODUCER_ACKS=0
KAFKA_PRODUCER_RETRIES=0

KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2QkA
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2QkA

KAFKA_CONTAINER_NAME=creditos-kafka
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=controller,broker
KAFKA_CONTROLLER_QUORUM_VOTERS=1@${KAFKA_SERVICE_NAME}:9093
KAFKA_LISTENERS=PLAINTEXT://${KAFKA_SERVICE_NAME}:9092,CONTROLLER://${KAFKA_SERVICE_NAME}:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${KAFKA_SERVICE_NAME}:9092
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_NUM_PARTITIONS=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_LOG_RETENTION_HOURS=168
KAFKA_VOLUME_NAME=vol_credito_kafka

LOG_LEVEL_APP=INFO
LOG_LEVEL_KAFKA=WARN
LOG_LEVEL_KAFKA_CLIENTS=WARN


LOG_LEVEL_KAFKA_CONTROLLER=WARN
LOG_LEVEL_METADATA_LOADER=ERROR
