DB_CONTAINER_NAME=creditos-db-container
DB_NAME=creditos_db_teste
DB_USER=db_credito-user
DB_PASSWORD=dbsenhacredito
DB_PORT=3306
DB_VOLUME_NAME=vol_creditos_data
# DB_HOST=localhost
DB_HOST=mariadb
DB_JDBC=mariadb
ADMINER_PORT=8081
DB_URL=jdbc:${DB_JDBC}://${DB_HOST}:${DB_PORT}/${DB_NAME:-credito_db}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
BACKEND_PORT=8080
BACKEND_URL=http://${BACKEND_HOST}:${BACKEND_PORT}
# BACKEND_HOST=credito-guide-backend
BACKEND_HOST=localhost
